.main {
  // position: relative;

  .calendar {
    width: 70%;
    line-height: 2rem;
    text-align: left;

    & button {
      // background: none;
      border: none;
      outline: none;
      line-height: 6rem;
    }

    & div[class$='__weekday'] {
      line-height: 2.5rem;
      text-transform: uppercase;
      font-weight: 600;
      padding-left: 1rem;

      & abbr[title] {
        text-decoration: none !important;
        border: none !important;
        cursor: none !important;
      }
    }

    & div[class$='__navigation'] {
      & button[class$='-button'] {
        padding: 0 20px;
      }

      & button {
        line-height: 2.5rem;
        font-size: 1rem;

        &:enabled {
          cursor: pointer;
        }
      }
    }

    & div[class$='view__days'] {
      // border: 1px solid #dadada;

      & button {
        // border: 0.3px solid #dadada;

        & abbr {
          display: inline-block;
          line-height: 1.7rem;
          width: 1.7rem;
          height: 1.7rem;
          position: relative;
          top: -1.5rem;
          left: -1.5rem;
          font-weight: 500;
          font-size: 1rem;
        }
      }

      & [class$='--weekend'],
      & button:nth-child(1) {
        color: rgb(207, 40, 40);
      }

      & :nth-child(7n) {
        color: rgb(76, 86, 228);
      }

      & button:enabled:hover {
        cursor: pointer;
      }

      & button:disabled abbr {
        color: #999999;
        font-weight: 200;
      }

      & button:focus {
        border: 2px solid rgb(255, 94, 76);
        border-radius: 5px;
      }
    }
  }
}
