.main {
  position: relative;

  .calendar {
    width: 70%;
    line-height: 2rem;
    text-align: center;

    & button {
      // background: none;
      border: none;
      outline: none;
      line-height: 9rem;
    }

    & div[class$='__weekday'] {
      line-height: 2.5rem;
      text-transform: uppercase;
      font-weight: 600;

      & abbr[title] {
        text-decoration: none !important;
        border: none !important;
        cursor: none !important;
      }
    }

    & div[class$='__navigation'] button {
      line-height: 2.5rem;
      font-size: 1rem;
    }

    & div[class$='view__days'] {
      border: 1px solid #dadada;

      & button {
        border: 0.3px solid #dadada;
        text-align: left;

        & abbr {
          display: block;
          margin: -3rem 0.5rem 0;
          font-weight: 520;
        }
      }

      & [class$='--weekend'],
      & button:nth-child(1) {
        color: rgb(207, 40, 40);
      }

      & :nth-child(7n) {
        color: rgb(56, 68, 236);
      }

      & button:enabled:hover {
        cursor: pointer;
      }

      & button:disabled {
        color: #999999;
        font-weight: 300;
      }
    }
  }
}
