$border : 1px solid rgb(204, 204, 204);

.wrapper {
  padding: 0 15px;
  color: #181818;
  // font-size: 16px !important;
}
@media screen and (max-width: 800px) { 
  .wrapper {
    padding: 0;
  }
}
.title {
  display: block;
  width: 100%;
  height: 40px;
  margin: 20px 0 20px 0;
  border: $border;
  outline: none;
}
.diaryContent {
  display: block;
  width: 100%; 
  margin-bottom: 20px;
  border: $border;
  outline: none;
}