$mainColor: #45c0ff;

.main {
  margin-top: 30px;
  width: 100%;
  margin: 0 auto;

  .profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 2rem 0;
    border-bottom: 1px solid #dbdbdb;
    padding: 0 0 2rem;

    .profilePic {
      width: 9rem;
      height: 9rem;
      border-radius: 500px;
      overflow: hidden;
      margin-left: 2.5rem;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      cursor: pointer;
    }

    .infoWrapper {
      position: relative;
      width: 50%;
    }

    .greeting,
    .greeting span {
      font-size: 1.5rem;
      line-height: 2rem;
      margin-bottom: 10px;
      transition: 0.3s;
    }

    .greeting span {
      font-weight: 700;
      margin: 0 20px;
    }

    .profileMsg {
      // background: skyblue;
      // color: white;
    }

    .statistics {
      display: flex;
      justify-content: space-between;
      width: 80%;
      // margin: 2rem 0 0;

      & li {
        text-align: center;

        .numbers,
        .caption {
          font-size: 1.1rem;
          padding: 0 3px;
        }

        .numbers {
          font-weight: 700;
        }
      }
    }

    .settingBtn,
    .logoutBtn {
      border: none;
      cursor: pointer;
      transition: 0.3s;
      outline: none;
    }

    .settingBtn {
      position: absolute;
      top: 1.5rem;
      // left: 29rem;
      font-size: 1.2rem;
      color: #ccc;

      &:hover,
      &:focus {
        color: $mainColor;
        transition: 0.25s;
        transform: rotate(50deg);
      }
    }

    .logoutBtn {
      border-radius: 5px;
      margin: 0.5rem 0 0;
      color: #aaa;
      background: #eee;
      width: 80px;
      height: 2rem;

      .icon {
        margin-right: 3px;
      }

      &:hover,
      &:focus {
        color: #fff;
        background: $mainColor;
        transition: 0.3s;
      }
    }
  }

  .listTitle {
    font-size: 1.3rem;
    color: $mainColor;
    padding: 20px 10px 5px;

    & .icon {
      margin-right: 7px;
    }
  }

  .diaryList {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    margin: 0 auto 20px;

    & li:nth-child(4n) {
      margin-right: 0;
    }

    li {
      position: relative;
      width: 14.4rem;
      height: 14.4rem;
      margin: 20px 26px 8px 0;

      &:hover,
      & a:focus {
        & figure .thumbnail {
          filter: brightness(55%);
          transition: 0.3s;
        }
        & figure .caption {
          visibility: visible;
        }

        & .bookmark {
          visibility: visible;
        }
      }
    }

    .diary figure {
      position: relative;
      width: 100%;
      height: 100%;

      .thumbnail {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 100%;
        transition: 0.3s;
      }

      .caption {
        position: absolute;
        top: calc(50% - 2rem);
        left: 0;
        width: 100%;
        padding: 7px 40px 0;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
        white-space: nowrap;
        color: #fff;
        visibility: hidden;

        .diaryTitle {
          font-weight: 600;
          font-size: 1.2rem;
        }

        .diaryDate {
          display: block;
          padding: 10px 0;
          font-weight: 500;
          font-size: 1rem;
        }
      }
    }

    .bookmark {
      position: absolute;
      top: 0.8rem;
      right: 1rem;
      font-size: 1.3rem;
      color: #fff;
      cursor: pointer;
      z-index: 50;
      visibility: hidden;

      input {
        visibility: hidden;
      }
    }
  }
}
