.main {
  margin-top: 30px;
  width: 100%;
  margin: 0 auto;

  .profile {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0 0;
    border-bottom: 1px solid #dbdbdb;
    position: relative;
    padding: 1rem 1rem 2rem;

    .greeting,
    .greeting span {
      font-size: 1.2rem;
      text-align: center;
      display: block;
      line-height: 1.7rem;
      margin-left: 3rem;
    }

    .greeting span {
      font-weight: 700;
      margin: 0;
    }

    .statistics {
      display: flex;
      justify-content: space-between;
      width: 30%;
      margin: 1rem 3rem 0;

      & li {
        text-align: center;

        span {
          font-size: 1rem;
          padding: 0 3px;
        }

        .numbers {
          font-weight: 700;
        }
      }
    }

    .logoutBtn {
      border: none;
      cursor: pointer;
      border-radius: 5px;
      // position: absolute;
      // top: 1.5rem;
      // right: 0;
      margin: 0.5rem 0 0;
      color: #aaa;
      background: #eee;
      width: 80px;
      height: 2rem;
      transition: 0.3s;
      outline: none;

      .icon {
        margin-right: 3px;
      }

      &:hover {
        color: #fff;
        background: #aaa;
        transition: 0.3s;
      }
    }
  }

  .listTitle {
    font-size: 1.3rem;
    color: #67bff9;
    padding: 20px 10px 5px;

    & .icon {
      margin-right: 7px;
    }
  }

  .diaryList {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 95%;
    margin: 0 auto;

    li {
      position: relative;
      width: 13rem;
      height: 13rem;
      margin: 20px 14.5px 10px;

      &:hover {
        & figure .thumbnail {
          filter: brightness(55%);
          transition: 0.3s;
        }
        & figure .caption {
          visibility: visible;
        }

        & .bookmark {
          visibility: visible;
        }
      }
    }

    .diary figure {
      position: relative;
      width: 13rem;
      height: 13rem;

      .thumbnail {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        // width: 100%;
        // height: 100%;
        width: 13rem;
        height: 13rem;
        transition: 0.3s;
      }

      .caption {
        position: absolute;
        top: calc(50% - 2rem);
        left: 0;
        width: 100%;
        padding: 7px 10px 0;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
        white-space: nowrap;
        color: #fff;
        visibility: hidden;

        .diaryTitle {
          font-weight: 600;
          font-size: 1.2rem;
        }

        .diaryDate {
          display: block;
          padding: 10px 0;
          font-weight: 500;
          font-size: 1rem;
        }
      }
    }

    .bookmark {
      position: absolute;
      top: 0.8rem;
      right: 1rem;
      font-size: 1.3rem;
      color: #fff;
      cursor: pointer;
      z-index: 50;
      visibility: hidden;

      input {
        visibility: hidden;
      }
    }
  }
}
