.main {
  margin-top: 30px;
  width: 80%;
  margin: 0 auto;

  .profile {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0 0;
    border-bottom: 1px solid #ddd;
    position: relative;
    padding: 1rem 1rem 2rem;

    .greeting,
    .greeting span {
      font-size: 1.2rem;
      text-align: center;
      display: block;
      line-height: 1.7rem;
      margin-left: 3rem;
    }

    .greeting span {
      font-weight: 700;
      margin: 0;
    }

    .statistics {
      display: flex;
      justify-content: space-between;
      width: 45%;
      margin: 1rem 3rem 0;

      & li {
        text-align: center;

        span {
          font-size: 1rem;
          padding: 0 3px;
        }

        .numbers {
          font-weight: 700;
        }
      }
    }

    .logoutBtn {
      border: none;
      cursor: pointer;
      border-radius: 5px;
      // position: absolute;
      // top: 1.5rem;
      // right: 0;
      margin: 0.5rem 0 0;
      color: #aaa;
      background: #eee;
      width: 80px;
      height: 2rem;
      transition: 0.3s;
      outline: none;

      .icon {
        margin-right: 3px;
      }

      &:hover {
        color: #fff;
        background: #aaa;
        transition: 0.3s;
      }
    }
  }

  .listTitle {
    font-size: 1.3rem;
    color: #67bff9;
    padding: 20px 10px 5px;

    & .icon {
      margin-right: 7px;
    }
  }

  .diaryList {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 95%;
    margin: 0 auto;

    .diary figure {
      margin: 20px 0.4rem 0;
      width: 11rem;

      .thumbnail {
        width: 11rem;
        height: 9rem;
      }

      .diaryTitle {
        height: 2rem;
        text-align: center;
        background: rgba(240, 240, 240, 0.884);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 7px 10px 0;
        font-weight: 600;
      }
    }
  }
}
