aside {
  width: 30%;
  height: 80vh;
  margin: 2rem 1.5rem 0 0;
  border-right: 1px solid #aaa;
  position: relative;
  padding: 0 1rem;

  .greeting,
  .greeting span {
    font-size: 1.2rem;
    text-align: center;
    // display: block;
    padding: 10px 0;
  }

  .statistics {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 50px auto 0;

    & li {
      width: 4rem;
      text-align: center;
    }

    .numbers {
      display: inline-block;
      width: 3.9rem;
      height: 3.9rem;
      font-size: 1.4rem;
      line-height: 3.5rem;
      border-radius: 500px;
      border: 3px solid #67bff9;
    }

    .caption {
      display: block;
      font-size: 0.9rem;
      margin-top: 1rem;
      line-height: 1rem;
    }
  }

  .logoutBtn {
    border: none;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    bottom: 1rem;
    left: 30%;
    background: lightgray;
    width: 40%;
    height: 2rem;
  }
}

main {
  display: flex;
  justify-content: space-between;

  div {
    width: 70%;

    .listTitle {
      padding: 2.6rem 0;
      font-size: 1.2rem;
    }

    .diaryList {
      .diary a {
        height: 6rem;
        display: flex;
        border-bottom: 1px solid #aaa;

        .thumbnail {
          width: 20%;
          height: 6rem;
          padding: 5px;
        }

        .info {
          width: 70%;
          text-align: center;
          padding: 15px;

          .title {
            font-size: 1rem;
          }

          .details {
            font-size: 0.7rem;
            color: #aaa;
            margin-top: 35px;
          }
        }
      }
    }
  }
}

// aside::after {
//   content: '';
//   display: block;
//   clear: both;
// }
