$mainColor: #45C0FF;
$border: 1px solid #dbdbdb;

.title {
  margin-top: 34px;
  margin-bottom: 35px;
  margin-left: 35%;
  font-size: 1.5rem;

  .tagName {
    margin-right: 10px;
    font-weight: 900;
    color: #fff;
    color: $mainColor;
  }
}

.searchInput {
  position: fixed;
  top: 80px;
  width: 240px;
  padding: 10px 45px 10px 12px;
  border: $border;
  border: none;
  border: 2px solid $mainColor;
  font-size: 18px;
  outline: none;
}

.searchBtn {
  position: fixed;
  top: 82px;
  margin-left: 194px;
  font-size: 20px;
  color: $mainColor;
  padding: 9px 12px;
  border: none;

  &:hover, &:focus {
    transition: 0.3s;
    background-color: $mainColor;
    color: #fff;
  }
}

aside.tagAside {
  position: fixed;
  top: 148px;
  width: calc(350px - 1.5rem);
  min-height: 320px;
  max-height: calc(100% - 180px);
  padding: 26px;
  overflow: scroll;
  border: $border;
  background-color: #fff;

  
  .tagMenu {
    
    a {
      color: inherit;
      text-decoration: none;
    }
 
    display: inline-block;
    width: 50%;
    margin-bottom: 1rem;
    font-weight: 500;
 

    &:hover, &:focus {
      color: $mainColor;
    }
    &:nth-child(2n) {
      margin-left: 12px;
      width: calc(50% - 12px);
    }
  }
  svg {
    color: $mainColor;
  }
  .tagMenuName {
    margin-right: 0.5rem;
  }
}

.wrapDiaries {
  width: 65%;
  margin: 0 0 10% 35%;
  
  .diary {
    display: flex;
    flex-wrap: wrap;
    // flex-flow: column nowrap;
    margin-bottom: 3rem;
    color: inherit;
    text-decoration: none;
    border: $border;
    
    a {
      order: -3;
    }

    h3 {
      order: -2;
      display: inline-block;
      width: 75%;
      margin-top: 1rem;
      margin-left: 1.5rem;
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 2rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      // display: -webkit-box;
      // -webkit-box-orient: vertical;
      // -webkit-line-clamp: 1;
    }

    img {
      // order: -3;
      width: 100%;
      // margin-bottom: .5rem;
    }
    time {
      margin-top: 0.5rem;
      margin-left: 1.5rem;
      font-size: 1rem;
      font-weight: 400;
      color: #8e8e8e;
    }
    p {
      margin-top: 1rem;
      margin-left: 1.5rem;
      margin-bottom: 1rem;
      width: calc(100% - 3rem);
      word-break:break-all;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box; 
      -webkit-line-clamp: 2; 
      -webkit-box-orient: vertical;
    }
    .tags {
      margin-left: 1.5rem;
      margin-bottom: 1.5rem;
      width: calc(100% - 3rem);
    }
    .tag {
      margin-right: 10px;
    }
    .searchTag {
      color: $mainColor;
      font-weight: 700;
    }
    input {
      display: none;
    }
    label {
      order: -1;
      display: inline-block;
      margin-top: 1.3rem;
      margin-right: 1.5rem;
      margin-left: calc(25% - 3.9rem);

      svg {
        font-size: 1.2rem;
      }
    }
    input[type="checkbox"]:checked + label {
      color: $mainColor;
    }
  }
}