$mainColor: #45c0ff;

.timeline {
  position: relative;

  .aside {
    position: fixed;
    top: 6.6rem;
    width: calc(350px - 1.5rem);

    .profile {
      border: 1px solid #dbdbdb;
      padding: 2rem 2rem;
      width: 100%;
      height: 100%;

      .profilePhoto {
        width: 230px;
        height: 230px;
        border-radius: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0 auto;
      }

      .profileUserId {
        margin-top: 1rem;
        padding: 1rem;
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
      }

      .profileMsg {
        margin-top: 1rem;
        font-size: 1.2rem;
        font-weight: 400;
        text-align: center;
      }
    }

    .tagBox {
      border: 1px solid #dbdbdb;
      // border-radius: 4px;
      margin-top: 1.5rem;
      padding: 2rem;
      padding-bottom: 1.3rem;
      width: 100%;
      height: auto;
      max-height: 300px;
      overflow: scroll;

      .icon {
        color: $mainColor;
      }
      .tagBoxTitle {
        color: $mainColor;
        font-size: 1.5rem;
        font-weight: bold;
        padding-left: 0.5rem;
      }

      .tagListWrapper {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-top: 1.4rem;
        font-size: 1rem;
        font-weight: 500;

        .icon {
          font-size: 1rem;
        }
        .tag {
          margin-right: 0.7rem;
          margin-bottom: 1rem;
          
          &:first-child {
            padding-left: 0;
          }
        }
        
        .aTag {
          text-decoration: none;
          color: #181818;

          &:hover, &:focus {
            color: $mainColor;
          }
        }
      }
    }
  }


  .nav {
    text-align: end;
    padding: 1rem 0 1rem 0;
    margin-right: -0.5rem;

    & a {
      padding: 0.5rem;
    }

    .tooltip {
      visibility: hidden;
      opacity: 0;
      width: max-content;
      text-align: center;
      position: absolute;
      background: #555;
      transition: opacity 0.3s;
      font-size: 0.7rem;
      padding: 3px 7px 4px;
      z-index: 10;
      border-radius: 5px;
      color: #fff;
    }

    a:active,
    a:hover,
    a:focus {
      color: $mainColor;
    }

    a:nth-child(1) .tooltip {
      right: 23px;
      top: 45px;
    }

    a:nth-child(2) .tooltip {
      right: -7px;
      top: 45px;
    }

    .tooltip::after {
      content: '';
      position: absolute;
      top: -10px;
      left: 51%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent #555 transparent;
    }

    a:hover .tooltip {
      transition: 0.3s;
      transition-delay: 0.3s;
      visibility: visible;
      opacity: 1;
    }
  }

  a:visited {
    color: #cccccc;
  }

  a:active,
  a:hover {
    color: $mainColor;
  }

  .icon {
    font-size: 1.2rem;
    text-align: center;
  }

  .active .icon {
    color: $mainColor;
  }

  .backToTop {
    position: fixed;
    right: calc(100vw - 92%);
    bottom: calc(100vh - 95%);
    padding-bottom: 3px;
    background-color: rgba($color: $mainColor, $alpha: 1);
    border: none;
    border-radius: 3px;
    width: 40px;
    height: 35px;
    cursor: pointer;
    outline: none;
    animation: fadeIn 0.3s;

    .icon {
      color: #ffffff;
      font-size: 1.6rem;
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
