$mainColor: #67bff9;

.timelineNav {
  padding: 0.6rem 0 0.6rem 0;
  color: #d1d1d1;
  font-size: 1.8rem;
  text-align: end;
  button {
    margin-left: 1rem;
    background-color: none;
    border: none;
    outline: none;
    cursor: pointer;
    .icon {
      text-align: center;
      &:last-child {
        font-size: 1.9rem;
      }
    }
    &:hover {
      color: $mainColor;
    }
  }
  .active {
    color: $mainColor;
  }
}

.timelineWrapper {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
}
