.calendar {
  width: 70%;
  min-width: 700px;
  padding-top: 20px;

  & .navigation {
    display: flex;
    justify-content: space-between;
    height: 2rem;

    & .calendarState {
      width: 80%;
      text-align: center;
      font-size: 1.1rem;
      padding-top: 0.2rem;
    }

    & button {
      padding: 0 10px;
      border: none;

      &:enabled {
        cursor: pointer;
      }
    }
  }

  & .days {
    display: flex;
    justify-content: space-between;
    padding: 0 0.8rem;

    & li {
      width: 6rem;
      padding: 20px 20px 0;
      font-weight: 600;
    }
  }

  & .dateView {
    padding: 0.8rem;

    & .dateBtn {
      font-size: 1rem;
      width: 6rem;
      height: 6rem;
      border-radius: 3px !important;

      &:enabled {
        cursor: pointer;
      }

      &:focus {
        outline: none;
        // border: 2px solid rgb(255, 114, 98);
        border: 2px solid rgb(255, 114, 98) !important;
        border-radius: 3px;
      }
    }

    & .date {
      position: relative;
      top: -1.6rem;
      left: -1.6rem;
    }

    & .today .date {
      display: inline-block;
      background: rgb(255, 114, 98);
      color: white;
      border-radius: 500px;
      width: 2rem;
      height: 2rem;
      line-height: 2rem;
    }

    & .oneDiary {
      background: #d1ecfd;
    }

    & .someDiaries {
      background: #83d6ff;
    }

    & .manyDiaries {
      background: #67bff9;
      background: #45c0ff;
    }
  }
}
