.calendar {
  width: 70%;
  background: lightblue;

  & button {
    outline: none;
    border: none;
  }

  & .navigation {
    display: flex;
    justify-content: space-between;
    height: 2rem;
    background: lightgoldenrodyellow;

    & .state {
      width: 80%;
      text-align: center;
      font-size: 1.1rem;
      padding-top: 0.5rem;
    }

    & button {
      padding: 0 10px;
    }
  }

  & .days {
    display: flex;
    justify-content: space-between;
    padding: 0 0.8rem;

    & li {
      // background: lightpink;
      width: 6rem;
      padding: 20px 20px 0;
      font-weight: 600;
    }
  }

  & .dateView {
    background: lightseagreen;
    padding: 0.8rem;
    // display: flex;

    & .dateBtn {
      font-size: 1rem;
      width: 6rem;
      height: 6rem;
      border: 1px solid gray;
    }

    & .date {
      position: relative;
      top: -1.5rem;
      left: -1.5rem;
    }
  }
}
