.diaryTitle {
  width: calc(100% - 120px);
  padding: 25px 15px;
  margin-top: 50px;
  margin-bottom: 23px;
  height: 40px;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 0;
  outline: none;
}