$mainColor: #45C0FF;

.calendarButton {
  // background-color: rgb(235, 235, 235);
  display: inline-flex;
  align-items: center;
  vertical-align: top;
  padding: 10px;
  padding-left: 10px;
  margin-left: -1px;
  border: none;
  
  .calendarDate {
    font-size: 14px;
    color: #7a7a7a;
    margin-right: 30px;

  }
  .calendarIcon {
    font-size: 16px;
    margin-right: 13px;
    color: $mainColor;
    
    &:hover {
      color: red;
    }
  }

}

.calendarButton:hover {
  .calendarIcon, .calendarDate {
    color: $mainColor;
  }
}