.diaryTitle {
  // width: calc(100% - 119px);
  width: 100%;
  padding: 25px 15px;
  margin-top: 51px;
  // margin-bottom: 23px;
  margin-bottom: 9px;
  height: 40px;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 0;
  outline: none;

  &::placeholder {
    color: #7a7a7a;
  }
}