$mainColor: #67bff9;

.diaryList {
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  background: #f9f9f9;
  background: #fff;

  overflow: scroll;

  .addBtn {
    font-size: 1.8rem;
    display: block;
    background: white;
    color: #b0b0b0;
    width: 40px;
    height: 40px;
    text-align: center;
    margin: 20px auto;
    border-radius: 500px;
    border: 1px solid #b0b0b0;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background: $mainColor;
      color: #ffffff;
      // border: #ffffff;
      border: $mainColor;
      transition: 0.3s;
    }
  }

  .diary a {
    display: flex;
    margin: 0.8rem auto;
    width: 95%;
    height: 5rem;
    // border-radius: 12px;
    background: #ffffff;
    cursor: pointer;

    &:hover {
      box-shadow: 0px 0px 12px #b0b0b0, 0px 0px 12px #ffffff;
    }

    .thumbnail {
      padding: 5px;
      width: 25%;
      height: 5rem;
    }

    .info {
      width: 75%;
      text-align: center;

      .title {
        font-size: 1.2rem;
        font-weight: 600;
        color: #181818;
        margin-top: 10px;
      }

      .details {
        font-size: 0.9rem;
        color: #686868;
        margin-top: 25px;
      }
    }
  }
}
