$mainColor: #45C0FF;

.mapButton {
  // background-color: rgb(219, 247, 255);
  display: inline-flex;
  align-items: center;
  padding: 10px;
  text-align: start;
  border: none;
  outline: none;

  .mapMsg {
    font-size: 15px;
    color: $mainColor;
    color: rgb(145, 145, 145);
    color: #7a7a7a;
    // background-color: green;
  }
  .mapIcon {
    // background-color: tomato;
    margin-right: 13px;
    color: $mainColor;
    font-size: 17px;
    color: $mainColor;
    margin-top: -2px;
  }
}

.mapButton:hover {
  .mapMsg, .mapIcon {
    color: $mainColor;
  }
}