$mainColor: #67bff9;

.header {
  position: fixed;
  width: 100%;
  // padding: 0.4rem 0 0.4rem 0;
  background: $mainColor;
  z-index: 10;

  .container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    // min-width: 800px;
    margin: 0 auto;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25%;
  }

  .logo,
  .icon {
    color: white;
    cursor: pointer;
  }

  .logo {
    margin: 15px 0;
    font-size: 1.6rem;
    font-weight: 600;
  }

  a {
    color: #fff;
    text-decoration: none;
    position: relative;
  }

  .icon {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 1120px) {
  .container {
    width: 90% !important;
  }
}

.tooltip {
  visibility: hidden;
  opacity: 0;
  width: max-content;
  text-align: center;
  position: absolute;
  bottom: -32px;
  background: #555;
  transition: opacity 0.3s;
  font-size: 0.7rem;
  padding: 3px 7px 4px;
  z-index: 10;
  border-radius: 5px;
}

.nav a:nth-child(1) .tooltip {
  left: 0;
}
.nav a:nth-child(2) .tooltip {
  left: -16px;
}
.nav a:nth-child(3) .tooltip {
  left: -3px;
}
.nav a:nth-child(4) .tooltip {
  left: -6px;
}
.nav a:nth-child(5) .tooltip {
  left: -13px;
}

.tooltip::after {
  content: '';
  position: absolute;
  top: -10px;
  left: 51%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}

a:hover .tooltip {
  transition: 0.3s;
  transition-delay: 0.3s;
  visibility: visible;
  opacity: 1;
}
