.main {
  width: 100%;
  max-width: 1000px;
  // min-width: 800px;
  margin: 0 auto;
  padding: 4rem 0 0;
  height: 100vh;
  // background: cornsilk;
}

@media screen and (max-width: 1120px) {
  .main {
    width: 90%;
  }
}
