.map {
  position: relative;
  box-sizing: border-box;
  width: 70%;
  height: calc(86vh - 55px);
  margin: 6vh 0 8vh;
  font-size: 1rem;

  div {
    box-sizing: content-box;
  }

  .mapSearchWrap {
    border-radius: 1rem;
    position: absolute;
    top: 0.5rem;
    bottom: 0.5rem;
    left: 0.5rem;
    z-index: 100;
  }
}
