$mainColor: #45c0ff;

:global .dimmed {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

:global .modal {
  position: fixed;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 580px;
  height: 500px;
  // width: 80%;
  // max-width: 580px;
  padding: 30px 20px;
  border-radius: 7px;
  background-color: #fff;

  // .modalDeleteBtn {
  //   position: absolute;
  //   top: 15px;
  //   right: 15px;
  //   font-size: 20px;
  //   border: none;
  //   color: rgb(150, 150, 150);
  //   background-color: #fff;
  //   cursor: pointer;
  //   transition: 0.3s;

  //   &:hover {
  //     color: rgb(100, 100, 100);
  //     transition: 0.3s;
  //   }
  // }
}

.warningMsg {
  display: block;
  width: 100%;
  position: absolute;
  bottom: 4.8rem;
  left: 0;
  font-size: 0.8rem;
  color: rgb(223, 0, 0);
  text-align: center;
  display: none;
}

:global .btnWrapper {
  width: 15rem;
  margin: 25px auto 0;
  display: flex;
  justify-content: space-between;
}

:global .cancelBtn,
:global .submitBtn {
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 10px 40px;
  border-radius: 3px;
}

:global .cancelBtn {
  border: 1px solid #dbdbdb;
}

:global .submitBtn {
  background: #45c0ff;
  color: #fff;
}

.small {
  position: absolute;
  width: 300px;
  height: 150px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  padding: 0;
  padding-top: 40px;
  border-radius: 7px;
  text-align: center;
  overflow: hidden;
  background-color: #fff;

  .message {
    display: block;
    margin-bottom: 34px;
  }

  button {
    border: none;
    border-top: 1px solid #ddd;
    width: 50%;
    padding: 20px 36px;
    font-weight: 500;
    font-size: 16px;
    outline: none;
  }

  button.confirm {
    border: 1px solid $mainColor;
    background-color: $mainColor;
    color: #fff;
  }
}
