.calendar {
  width: 80%;
  margin: 0 auto;

  & button {
    outline: none;
    border: none;
  }

  & .navigation {
    display: flex;
    justify-content: space-between;
    height: 2rem;

    & .calendarState {
      width: 80%;
      text-align: center;
      font-size: 1.1rem;
      padding-top: 0.5rem;
    }

    & button {
      padding: 0 10px;

      &:enabled {
        cursor: pointer;
      }
    }
  }

  & .days {
    display: flex;
    justify-content: space-between;
    padding: 0 0.8rem;

    & li {
      width: 6rem;
      padding: 15px 10px 10px;
      font-weight: 600;
    }
  }

  & .dateView {
    padding: 0.8rem;
    padding-bottom: 0.2rem;

    & button {
      font-size: 1rem;
      width: 3.6rem;
      height: 3.6rem;
      border-radius: 3px;

      &:enabled {
        cursor: pointer;
      }

      &:focus {
        border: 2px solid rgb(255, 114, 98);
        border-radius: 3px;
      }
    }

    & .date {
      position: relative;
      top: -0.5rem;
      left: -0.5rem;
    }

    & .today .date {
      display: inline-block;
      background: rgb(255, 114, 98);
      color: white;
      border-radius: 500px;
      width: 2rem;
      height: 2rem;
      line-height: 2rem;
    }

    & .oneDiary {
      background: #d1ecfd;
    }

    & .someDiaries {
      background: #abdcfc;
    }

    & .manyDiaries {
      background: #45C0FF;
    }
  }
}
