$mainColor: #45C0FF;

// common
@mixin timeline-hover {
  &:hover {
    border: 1px solid $mainColor;
  }
}

@mixin timeline-bookmark {
  input[type='checkbox'] {
    display: none;
  }

  input[type='checkbox'] + label span {
    display: inline-block;
    width: 15px;
    height: 20px;
    vertical-align: middle;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    color: #1d1d1d;
    font-size: 1.2rem;
    cursor: pointer;
  }

  input[type='checkbox']:checked + label span {
    color: $mainColor;
  }

  // .iconBtn {
  //   border: none;
  //   background-color: rgba($color: #000000, $alpha: 0);
  //   position: absolute;
  //   top: 0.5rem;
  //   right: 0.5rem;
  //   outline: none;
  //   cursor: pointer;
  // }

  // .bookmarked {
  //   // Need to fix
  //   color: $mainColor;
  //   font-size: 1.2rem;
  // }

  // .notBookmarked {
  //   color: #1d1d1d;
  //   font-size: 1.2rem;
  // }
}

@mixin timeline-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
  text-align: justify;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  @content;
}

// card
@mixin timeline-card-layout {
  position: relative;
  border: 1px solid #d1d3d2;
  width: 240px;
  height: 238px;

  &:nth-child(4n + 1) {
    margin-right: 0.5rem;
  }

  &:nth-child(4n + 2) {
    margin-right: 0.5rem;
  }

  &:nth-child(4n + 3) {
    margin-right: 0.5rem;
  }

  &:nth-child(n + 5) {
    margin-top: 0.8rem;
  }
}

@mixin timeline-card-body {
  figure {
    .thumbnail {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 238px;
      height: 196px;
    }

    figcaption {
      background-color: #f0f0f0;
      padding: 0.6rem 1rem 0.6rem 1rem;
      border-top: 1px solid #ffffff;
      color: #181818;
      font-size: 1.3rem;
      font-weight: 500;

      .diaryTitle {
        @include timeline-ellipsis;
        text-align: center;
        -webkit-line-clamp: 1;
        word-break: break-all;
      }
    }
  }
}

// list
@mixin timeline-list-layout {
  display: flex;
  flex-direction: row;
  position: relative;
  border: 1px solid #d1d3d2;
  width: 100%;
  height: 25%;

  &:nth-child(n + 2) {
    margin-top: 1rem;
  }
}

@mixin timeline-list-body {
  figure {
    display: flex;
    align-items: center;
    flex-direction: row;

    .thumbnail {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 200px;
      height: 200px;
    }

    figcaption {
      padding: 1.3rem 1.8rem;
      color: #181818;
      width: 760px;
      height: 200px;

      .diaryTitle {
        font-size: 1.6rem;
        font-weight: 500;
        @include timeline-ellipsis;
        text-align: center;
        -webkit-line-clamp: 1;
      }
      .diaryDate {
        margin-top: 0.8rem;
        font-size: 1.2rem;
        color: #434548;
        text-align: end;
      }
      .diaryContent {
        width: 100%;
        height: 57%;
        margin-top: 0.7rem;
        font-size: 1.2rem;
        line-height: 1.6;
        @include timeline-ellipsis;
        -webkit-line-clamp: 3;
        text-indent: 0.8rem;
      }
    }
  }
}

// media
@mixin timeline-media-layout {
  position: relative;
  border: 1px solid #d1d3d2;
  width: 24%;
  height: 25%;

  &:nth-child(4n + 1) {
    margin-right: 0.5rem;
  }

  &:nth-child(4n + 2) {
    margin-right: 0.5rem;
  }

  &:nth-child(4n + 3) {
    margin-right: 0.5rem;
  }

  &:nth-child(n + 5) {
    margin-top: 0.8rem;
  }
}

@mixin timeline-media-body {
  figure {
    .thumbnail {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 238px;
      height: 238px;
    }
  }
}

// apply mixin
.timeline-card {
  @include timeline-card-layout;
  @include timeline-card-body;
  @include timeline-bookmark;
  @include timeline-hover;
}

.timeline-list {
  @include timeline-list-layout;
  @include timeline-list-body;
  @include timeline-bookmark;
  @include timeline-hover;
}

.timeline-media {
  @include timeline-media-layout;
  @include timeline-media-body;
  @include timeline-bookmark;
  @include timeline-hover;
}
