$mainColor: #45c0ff;

.timelineWrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 65%;
  height: 100vh;
  margin: 0 0 10% 35%;

  & > div {
    width: 100%;
  }

  .timelineList {
    display: flex;
    border: 1px solid #dbdbdb;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;

    &:nth-child(n + 2) {
      margin-top: 3rem;
    }

    & > a {
      display: block;
      width: 100%;
    }

    &::before {
      content: '';
      transition: 0.3s;
      position: absolute;
      width: 100%;
      height: 100%;
      pointer-events: none;
    }

    figure {
      width: 100%;
      height: auto;

      .thumbnail {
        width: 648px;
        height: auto;
      }

      figcaption {
        padding: 1rem 1.5rem 1.5rem 1.5rem;
        color: #181818;
        width: 100%;
        height: 160px;

        .title {
          width: 70%;
          margin-top: 0.3rem;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 2rem;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          // text-align: justify;
          // display: -webkit-box;
          // -webkit-box-orient: vertical;
          // -webkit-line-clamp: 1;
        }

        .date {
          margin-top: 0.5rem;
          font-size: 1rem;
          font-weight: 400;
          color: #8e8e8e;
        }

        .content {
          width: 100%;
          margin-top: 1rem;
          font-size: 1.1rem;
          font-weight: 400;
          line-height: 1.3;
          word-break:break-all;
          overflow: hidden;
          text-overflow: ellipsis;
          // text-align: justify;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
        }
      }
    }

    input[type='checkbox'] {
      display: none;
    }

    input[type='checkbox'] + label {
      display: inline-block;
      vertical-align: middle;
      position: absolute;
      top: calc(100% - 160px + 1.4rem);
      right: 1.1rem;
      color: #181818;
      font-size: 1.2rem;
      transition: 0.3s;
      cursor: pointer;
    }

    input[type='checkbox']:checked + label {
      color: $mainColor;
    }

    &:hover {
      &::before {
        width: 100%;
        height: 100%;
        opacity: 1;
        background-color: rgba($color: #ffffff, $alpha: 0.13);
        transition: 0.2s;
        pointer-events: none;
      }
    }
  }

  &::after {
    content: '';
  }
}
