$mainColor: #67bff9;

// common
@mixin timeline-hover {
}

@mixin timeline-bookmark {
  input[type='checkbox'] {
    display: none;
  }

  input[type='checkbox'] + label span {
    display: inline-block;
    width: 15px;
    height: 20px;
    vertical-align: middle;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    color: #1d1d1d;
    font-size: 1.2rem;
    cursor: pointer;
  }

  input[type='checkbox']:checked + label span {
    color: $mainColor;
  }
}

@mixin timeline-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
  text-align: justify;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  @content;
}

// list
@mixin timeline-list {
  display: flex;
  flex-direction: row;
  position: relative;
  border: 1px solid #ffffff;
  width: 100%;
  height: 25%;

  &:nth-child(n + 2) {
    margin-top: 1rem;
  }
  figure {
    display: flex;
    align-items: center;
    flex-direction: row;

    .thumbnail {
      width: 200px;
      height: 200px;
    }

    figcaption {
      padding: 1.3rem 1.8rem;
      color: #181818;
      width: 760px;
      height: 200px;

      .diaryTitle {
        font-size: 1.6rem;
        font-weight: 500;
        @include timeline-ellipsis;
        text-align: center;
        -webkit-line-clamp: 1;
      }
      .diaryDate {
        margin-top: 0.8rem;
        font-size: 1.2rem;
        color: #434548;
        text-align: end;
      }
      .diaryContent {
        width: 100%;
        height: 57%;
        margin-top: 0.7rem;
        font-size: 1.2rem;
        line-height: 1.6;
        @include timeline-ellipsis;
        -webkit-line-clamp: 3;
        text-indent: 0.8rem;
      }
    }
  }
}

// media
@mixin timeline-media {
  position: relative;
  border: 1px solid #ffffff;
  width: 24%;
  height: 25%;

  &:nth-child(4n + 1) {
    margin-right: 0.5rem;
  }

  &:nth-child(4n + 2) {
    margin-right: 0.5rem;
  }

  &:nth-child(4n + 3) {
    margin-right: 0.5rem;
  }

  &:nth-child(n + 5) {
    margin-top: 0.8rem;
  }

  figure {
    .thumbnail {
      width: 238px;
      height: 238px;
    }
  }
}

// apply mixin
.timeline-list {
  @include timeline-list;
  @include timeline-bookmark;
}

.timeline-media {
  @include timeline-media;
  @include timeline-bookmark;
}
